{{> open}}

  <div>
    <h4>9/14/17 Summary:</h4>
    <ul>
      <li>Introduction to club objectives and various competitions that we are
        planning to focus on.
        <a href="https://drive.google.com/open?id=13XGGC4YM2wCrEWUhNKoFuFvFW4teY6Ius42gSz0Duro">(Slide)</a></li>
      <li>Worked on and discussed <a
          href="http://usaco.org/index.php?page=viewproblem2&cpid=712">USACO
          2017 February Bronze #2</a>.
        <ul>
          <li>O(N^3) algorithm: For every pair of letters, count the number of
            single letters in between them. The answer is the count divided by 2.</li>
        </ul>
      </li>
    </ul>
  </div>

  <hr>

  <div id="info">
    <h4>Club Objectives:</h4>
    <ul>
      <li>Create a community for open discussion of competitive programming.
        <ul>
          <li>Former and current <a href="http://www.usaco.org/">USACO</a>
            contests.</li>
          <li>Former and current <a href="http://www.acsl.org/">ACSL</a>
            problems at all levels.</li>
          <li>Online competitions at <a
              href="http://codeforces.com/">Codeforces</a>, etc.</li>
          <li>General problem-solving techniques, algorithms, and data
            structures.</li>
        </ul>
      </li>
      <li>Manage Neuqua&rsquo;s ACSL teams as well as potential local competitions
        nearby.</li>
    </ul>
  </div>

  {{> contact}}
{{> close}}
