{{> open}}

  <div id="info">
    <h4>Club Objectives:</h4>
    <ul>
      <li>Create a community for open discussion of competitive programming.
        <ul>
          <li>Former and current <a href="http://www.usaco.org/">USACO</a>
            contests.</li>
          <li>Former and current <a href="http://www.acsl.org/">ACSL</a>
            problems at all levels.</li>
          <li>Online competitions at <a
              href="http://codeforces.com/">Codeforces</a>, etc.</li>
          <li>General problem-solving techniques, algorithms, and data
            structures.</li>
        </ul>
      </li>
      <li>Manage Neuqua&rsquo;s ACSL teams as well as potential local competitions
        nearby.</li>
    </ul>

    <p>
      <table id="intro">
        <tr>
          <td class="title">Co-founders and captains:</td>
          <td>Jeffrey Tang and Bryan Qiu</td>
          <td class="email">
            <a>capt<span style="display:none">nvct</span>@nvcomputing.com</a>
          </td>
        </tr>
        <tr>
          <td class="title">Sponsor:</td>
          <td>Mr. Koos</td>
          <td class="email">
            <a>joe_koos<span style="display:none">nvct2</span>@ipsd.org</a>
          </td>
        </tr>
      </table>

      <script>
        var emails = document.querySelectorAll(".email a");
        for (var i = 0; i < emails.length; ++i) {
          emails[i].setAttribute("href", "mailto:" + emails[i].innerText);
        }
      </script>
    </p>
  </div>

  <hr>

  <div id="folder-wrapper">
    <div class="box" id="folder">
      <h4><a href="https://goo.gl/y14Gs6">Team Google Drive Folder</a></h4>
    </div>
  </div>

  <div class="box" id="allstar">
    <h4>Neuqua Valley finishes 6th and 7th at ACSL All-Star Contest</h4>

    <p id="allstar-wrapper">
      <img src="/allstar.jpg" id="allstar-team" alt="Team
      members at ACSL All-Star">
      <span id="allstar-caption">Left to right: Brett, Bhargav, Rohan, Bryan, Jeffrey, Srikar,
        Jonathan, Shivansh, Jonah, and Andy</span>
    </p>

    <p>Ten team members traveled to Barrington, Rhode Island, this past weekend
    (May 26th, 2018) to represent Neuqua Valley at the culminating
    international contest of the American Computer Science League.</p>

    <p>The intermediate 5-person team (Bhargav Chandaka, Brett Duncan, Andy Li,
      Jonah Liu, and Rohan Sanjay) finished in 6th place. Additionally, they
      received the top programming score of 58 out of 60 points among all the
      intermediate teams, as well as 2 individual awards.</p>

    <p>The senior 5-person team (Shivansh Gupta, Srikar Gutta, Jonathan Li,
      Bryan Qiu, and Jeffrey Tang) finished in 7th place. They were also the
      top-scoring team in the Western region during the regular season, and
      received 4 individual awards for their written test performance.</p>

    <p>Please join us in congratulating these team members for their time (what
      must have been 25 hours of additional practice) and endless commitment to
      the team. It has certainly paid off!</p>

    <p>In addition, a special thanks to Mr. Qiu and Mr. Duncan for being
      awesome chaperones during the trip. We couldn't have done it without
      you!</p>

    <a href="http://www.wixtest.acsl.org/2018allstar-results">Official scoreboard from ACSL</a> |
    <a href="https://photos.app.goo.gl/v1w5EiLnsibIQOSw2">Neuqua photos</a> |
    <a href="https://photos.app.goo.gl/VHyhmc1EmDNDFLpY2">ACSL photos</a>
  </div>

  <div class="box" id="shirt">
    <h4>NV Computing 2018 T-Shirt</h4>

    <div id="shirtpics">
      <div>
        <img src="/shirts/shirt.png" alt="NV Computing T-shirt">
      </div>
      <div>
        <img src="/shirts/design_resized.png" alt="NV Computing T-shirt
        design">
      </div>
    </div>

    <p class="nolast">Price is $15. Hidden inside the mascot are the names of
      each All-Star team member, followed by a snippet of code they have
      written this season. Designed by Jeffrey Tang. Shirts will be arriving on
      5/19!</p>
  </div>

  <div class="box" id="as-qualify">
    <h4>Neuqua Valley qualifies both teams for ACSL All-Star Contest</h4>

    <p>On May 4th, 2018, we received an email from ACSL inviting both our
      senior-5 and intermediate-5 teams to the international All-Star contest.
      We'd like to thank all our team members for their hard work and good
      performance; that's what resulted in our qualification. <a
      href="https://drive.google.com/open?id=152lvRrK1W37cCDw6lpz0BbaW6qd6ZATk">
        Here is a link to the relevant documents from the invitation.</a>
    </p>

    <p>Though our senior team has already been chosen for their performance
      this year, we have decided to hold a runoff for the five spots on the
      intermediate All-Star team. <a href="/results.html">The results and final
        comments are out;</a> congratulations to those who made it.</p>

    <p class="nolast">To those who didn't, please keep in mind that your hard
      work and contribution to the team was invaluable this year. Thank you
      for your commitment, and we hope that you will continue to compete with
      us next year!</p>
  </div>

  <div class="box" id="acsl">
    <h4>2017-2018 ACSL Programming Problems:</h4>

    <table>
      {{#each acsl}}
      <tr>
        {{#each this}}
        <th>{{title}}</th>
        {{/each}}
      </tr>
      <tr>
        {{#each this}}
        <td>{{#available}}<a href="{{statement}}">{{/available}}
            Problem Statement{{#available}}</a>{{/available}}</td>
        {{/each}}
      </tr>
      <tr>
        {{#each this}}
        <td>{{#available}}<a href="{{codeforces}}"
            rel="noreferrer">{{/available}}
            Codeforces{{#available}}</a>{{/available}}</td>
        {{/each}}
      </tr>
      <tr>
        {{#each this}}
        <td>{{#available}}<a href="{{test}}">{{/available}}
            Test Data{{#available}}</a>{{/available}}</td>
        {{/each}}
      </tr>
      {{/each}}
    </table>
  </div>

  <div class="box" id="procom">
    <h4>Neuqua Valley wins ProCom 4.0</h4>

    <img src="/procom4-scoreboard/procom.jpg" id="procom-team" alt="Team
    members at ProCom 4.0">

    <p>Congratulations to team members Srikar Gutta, Rohan Sanjay, Bryan Qiu,
      and Jeffrey Tang for taking first place among 28 city and suburban teams
      at the <a href="http://procom.strikingly.com/">ProCom</a> hosted at UC
      Lab Schools on March 3rd, 2018.</p>

    <p>Thank you to Mr. Fahrenbacher and the rest of the teachers and
      volunteers for a super smooth contest, excellent problems, and overall a
      very enjoyable time!</p>

    <a href="/procom4-scoreboard/">The full scoreboard is available here</a> |
    <a href="https://www.hackerrank.com/pro-com-4">Problems from the
      contest</a>
  </div>

  <div>
    <h4>Meeting Summaries:</h4>

    <span class="announcement">More detailed information about each meeting is
      available on the <a
        href="https://drive.google.com/open?id=0B597t1M4zAIgd1FJUWtDQThhRTA">agenda
        slides in the Google Drive.</a></span>

  </div>

  <div>
    <h4>5/29 Summary:</h4>
    <ul>
      <li><a
          href="https://drive.google.com/open?id=1Dw5qiQUyYka6Yzh9HbnJpJ03mpX2UxLaQv_J-eYrsi0">
          Promotion/recruiting for next year</a>
      <li>Our achievements this year
      <li>Why join Neuqua Valley Computing?
      <li><a href="https://goo.gl/BVYQwD">Information form</a>
    </ul>
  </div>

  <div>
    <h4>5/24 Summary:</h4>
    <ul>
      <li>Short answer practice: 2016-2017 All-Star
      <li>Assembly language, data structures, exam review
      <li>Results:
        <ul>
          <li>Senior shorts: 35
          <li>Intermediate shorts: 25
        </ul>
      </li>
      <li>Finalize details for transportation tomorrow
    </ul>
  </div>

  <div>
    <h4>5/23 Summary:</h4>
    <ul>
      <li>Programming practice: 1996-1997 All-Star run-through
      <li><a
        href="https://drive.google.com/open?id=1461SFF-HV6GXXvJ288y2z_Kk3yPq-lTW">
          Link to folder</a>
      <li>Results:
        <ul>
          <li>Senior programming: 44
          <li>Intermediate programming: 38
        </ul>
      </li>
    </ul>
  </div>

  <div>
    <h4>5/21 Summary:</h4>
    <ul>
      <li>Short answer practice: 2015-2016 All-Star
      <li>Data structures review
      <li>Results:
        <ul>
          <li>Senior shorts: 41
          <li>Intermediate shorts: 30
        </ul>
      </li>
    </ul>
  </div>

  <div>
    <h4>5/20 Summary:</h4>
    <ul>
      <li>Programming practice: 2016-2017 All-Star run-through
      <li><a
        href="https://drive.google.com/open?id=1V6_AR5EV4UMCiS-K94kxOsJVF9Za93aC">
          Link to folder</a>
      <li>Results:
        <ul>
          <li>Senior programming: 35
          <li>Intermediate programming: 22
        </ul>
      </li>
      <li>Comparison with historical results from 2016-2017</li>
    </ul>
  </div>

  <div>
    <h4>5/13 Summary:</h4>
    <ul>
      <li>Programming practice: 1995-1996 All-Star run-through
      <li><a
        href="https://drive.google.com/open?id=1NASK455683g77IR19ASxXI-w2MZg-wVf">
          Link to folder</a>
      <li>Results:
        <ul>
          <li>Senior programming: 35
          <li>Intermediate programming: 27
        </ul>
      </li>
    </ul>
  </div>

  <div>
    <h4>5/10 Summary:</h4>
    <ul>
      <li>Comprehensive All-Star short answer review (part 1):
        <ul>
          <li>Boolean Algebra
          <li>Recursive Functions
          <li>Computer Number Systems
          <li>Prefix/Infix/Postfix
          <li>Bit-String Flicking
          <li>Graph Theory
          <li>Regular Expressions
          <li>Data Structures
        </ul>
      </li>
      <li>We will be drastically increasing the frequency of programming and
        short answer practices outside of school in preparation for All-Star
    </ul>
  </div>

  <div>
    <h4>5/6 Summary:</h4>
    <ul>
      <li>Senior and intermediate teams officially qualified for All-Star contest
      <li>Due to the one-submission policy of the ACSL All-Star programming
        contest, the runoff for the intermediate team will be hosted on our
        in-house submission system at <a
          href="http://runoff.nvcomputing.com">runoff.nvcomputing.com</a>
      <li>Each member has individually received an access code. The contest
        will be from 7:00-9:30 p.m.
    </ul>
  </div>

  <div>
    <h4>4/10 Summary:</h4>
    <ul>
      <li>Contest #4 Short Answer Test
    </ul>
  </div>

  <div>
    <h4>3/22 Summary:</h4>
    <ul>
      <li>Digital electronics and assembly language
      <li>Contest #4 programming problem will be released weekend of 4/6
    </ul>
  </div>

  <div>
    <h4>3/9 Summary:</h4>
    <ul>
      <li>Boolean algebra, data structures, and regular expressions review and
        clarifications
      <li>Contest #3 Short Answer Test
    </ul>
  </div>

  <div>
    <h4>2/22 Summary:</h4>
    <ul>
      <li>T-shirt ideas
      <li>Contest #3 Boolean Algebra Discussion
    </ul>
  </div>

  <div>
    <h4>2/8 Summary:</h4>
    <ul>
      <li>Short answer topics questions and review
      <li>Contest #2 Short Answer Test
    </ul>
  </div>

  <div>
    <h4>2/1 Summary:</h4>
    <ul>
      <li>Transition from NV Online Judge to Codeforces
        <ul>
          <li>Sign up for codeforces.com
          <li>Try to submit Contest 1 code
        </ul>
      </li>
      <li>Contest 2 release clarifications
      <li><a href="https://goo.gl/SJws86">Put codeforces username here</a>
    </ul>
  </div>

  <div>
    <h4>1/25 Summary:</h4>
    <ul>
      <li>ACSL Contest #2 Mock (2016-2017) Short Answer Test
      <li>Questions about topics and test and further review
    </ul>
  </div>

  <div>
    <h4>1/18 Summary:</h4>
    <ul>
      <li>ACSL Contest #2 Topics
        <ul>
          <li>LISP Programming</li>
          <li>Online LISP evaluation for practice</li>
        </ul>
      </li>
    </ul>
  </div>

  <div>
    <h4>1/11 Summary:</h4>
    <ul>
      <li>USACO Contest #1 Discussion
      <li>How is the club going?
      <li>ACSL Contest #2 Topics
        <ul>
          <li>Bit String Flicking</li>
          <li>Pre/Post/Infix Notation</li>
        </ul>
      </li>
    </ul>
  </div>

  <div>
    <h4>12/14 Summary:</h4>
    <ul>
      <li>Review code submission guidelines
      <li>Take Contest #1 Short Answer Test
    </ul>
  </div>

  <div>
    <h4>12/7 Summary and Programming Problem Information:</h4>
    <ul>
      <li>(Click to view full screen.)<br>
        <a href="/12_07_1.png"><img src="/12_07_1.png" alt="12/7 Agenda Slide 1"
          class="slide"></a>
        <a href="/12_07_2.png"><img src="/12_07_2.png" alt="12/7 Agenda Slide 2"
          class="slide"></a>
        <a href="/12_07_3.png"><img src="/12_07_3.png" alt="12/7 Agenda Slide 3"
          class="slide"></a>
        <a href="/12_07_4.png"><img src="/12_07_4.png" alt="12/7 Agenda Slide 4"
          class="slide"></a>
      </li>
      <li>What Does This Program Do? Short answer topic
        <ul>
          <li><a
              href="https://drive.google.com/open?id=1hrCgnPryrai9dcIBkesB8c0TMH8pRpvg">Notes</a></li>
          <li><a
              href="https://drive.google.com/open?id=1iV0eO-Y9TD3ZVHPNBGjUZK4AR_q5hTgg">Practice</a></li>
          <li><a
              href="https://drive.google.com/open?id=1ftYXfLEkvzQ7bsoCO5d6cz4j4t7JLSky">Answers</a></li>
        </ul>
      </li>
      <li>ACSL Contest 1 Mock Short Answer Test 2
        <ul>
          <li><a href="https://drive.google.com/open?id=1eGYUjPI6LTTHuCZdBF8ey0ayqkoTgICV">Contest 1 Practice 2.pdf</a>
        </ul>
      </li>

      <li>
        <p>(Outdated) As of 6:00 PM on 12/8, ACSL Contest #1 Intermediate and Senior programming
        problems have been released on <a
          href="https://drive.google.com/open?id=1S6lQVP9ucoh0ueh29XUT9FFXSKteowb9">Google
          Drive</a> and on the <a
          href="http://judge.nvcomputing.com/problems/">online judge</a>.</p>
      </li>
    </ul>

    <ul>
      <li>(Outdated) ACSL Contest #1 Programming Problems:</li>

      <li>Intermediate (required):
        <ul>
          <li><a
          href="https://drive.google.com/open?id=19v43ocFBWiNTfxj4YrC_O3WkCGXsCOu4">Problem
          Statement</a></li>
          <li><a href="http://judge.nvcomputing.com/problem/acsl18int1">Judge
          Submission</a></li>
        </ul>
      </li>
      <li>Senior:
        <ul>
          <li><a
          href="https://drive.google.com/open?id=1s0UITKgLLeSszteBpfhS0Enj5IPXqFzU">Problem
          Statement</a></li>
          <li><a href="http://judge.nvcomputing.com/problem/acsl18sr1">Judge
          Submission</a></li>
        </ul>
      </li>
      <li><a
          href="https://drive.google.com/open?id=1vzofhlgs-cS_3iQOqzcDlfpZU4O6foNaNfWNgaAgfN4">Official
          Submission</a></li>

    </ul>
  </div>

  <div>
    <h4>11/30 Summary:</h4>
    <ul>
      <li>Collect ACSL Registration Fee ($20 per person)
        <a href="https://drive.google.com/open?id=13A34599m9aK8zuB-X5-PbdILWqOTglpPTc5pVQ9QcqU">(Slide)</a>
      <li>Discuss short answer and programming problem schedule</li>
      <li>Registration on Neuqua Valley Online Judge (<a
          href="judge.nvcomputing.com">judge.nvcomputing.com</a>)
        <ul>
          <li>Registration (with username "first initial + last name",
            e.g. "bqiu")</li>
          <li>Submit Ascending Strings code</li>
        </ul>
      </li>
    </ul>
  </div>

  <div>
    <h4>11/16 Summary:</h4>
    <ul>
      <li>Mock ACSL Short Answer Test
        <a href="https://drive.google.com/open?id=1HzaJkRSEb2P8DQZ_vvECGN0Ttet4sr4AKKW_bZuuWpc">(Slide)</a>
        <ul>
          <li><a href="https://drive.google.com/open?id=1_f9xlrpqnNqgERcmenftAdelw1iKIHL_">Contest 1 Practice 1.pdf</a>
        </ul>
      </li>
      <li>First look at student-submitted code for <a href="https://drive.google.com/file/d/0ByQHZZeGRcBVek5mZWVidlRJb2c/view">Ascending Strings</a></li>
    </ul>
  </div>

  <div>
    <h4>11/2 Summary:</h4>
    <ul>
      <li>Uploading code
        <a href="https://drive.google.com/open?id=1a2Qgxqu-E_OeWDZNUeDuSmauxcbwFaLDh_M6dDJslYE">(Slide)</a></li>
      <li>Code review for Ascending Strings</li>
      <li>Review first ACSL short answer contest preparations
        <ul>
          <li><a href="http://www.acsl.org/acsl/16-17/Categories.pdf">2016-2017
              Categories</a></li>
          <li><a
              href="https://drive.google.com/open?id=0B17dDOWfPSLwY3F6QXVsQjlCYnM">ACSL
              Category Description Booklet</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div>
    <h4>10/26 Summary:</h4>
    <ul>
      <li>Reviewing file input and output
        <a href="https://drive.google.com/open?id=1mlDxhsanlJ62c2gzzFTWT2xGs2GksT7HbqMjnYoXQqU">(Slide)</a></li>
      <li>USACO Wormholes discussion
        <ul>
        <li><a href="http://www.usaco.org/current/data/sol_wormhole.html">USACO
            solution + video</a></li>
        </ul>
      </li>
      <li>Introduce ACSL 2016-2017 Senior #3: Ascending Strings</li>
    </ul>
  </div>

  <div>
    <h4>10/19 Summary:</h4>
    <ul>
      <li>USACO 2017 February Bronze #3 Review
        <a href="https://docs.google.com/presentation/d/1Ubc63ybFYV8kAHDpyFDlAW1FozPYlqKUHSaZuk9oAkk">(Slide)</a></li>
      <li>ACSL short answer recursion practice.</li>
      <li>Programming with recursion:
        <ul>
          <li>ACSL Skyscraper</li>
          <li>USACO 2013 December Bronze #3: Wormholes</li>
        </ul>
      </li>
    </ul>
  </div>

  <div>
    <h4>10/12 Summary:</h4>
    <ul>
      <li>USACO 2017 February Bronze #3
        <a href="https://docs.google.com/presentation/d/11xy-3k5ioQXQdU61w-x861QlC1cjYx_ev6VMX5-lYZY">(Slide)</a></li>
    </ul>
  </div>

  <div>
    <h4>10/5 Summary:</h4>
    <ul>
      <li>USACO 2017 February Bronze #1
        <a href="https://docs.google.com/presentation/d/1vMrqx7YmCmgvbWLNfXY4oMbWhd7-aK4EqHSWDDW2UNc">(Slide)</a></li>
    </ul>
  </div>

  <div>
    <h4>9/21/17 Summary:</h4>
    <ul>
      <li>ACSL Short Answer Topics: "Computer Number Systems", Boolean Algebra.
        <a href="https://docs.google.com/presentation/d/1OmXOV8o-lCKLHbmtklpgWZAz-_RCaWBhbYLUxYxaB_Y">(Slide)</a></li>
    </ul>
  </div>

  <div>
    <h4>9/14/17 Summary:</h4>
    <ul>
      <li>Introduction to club objectives and various competitions that we are
        planning to focus on.
        <a href="https://drive.google.com/open?id=13XGGC4YM2wCrEWUhNKoFuFvFW4teY6Ius42gSz0Duro">(Slide)</a></li>
      <li>Worked on and discussed <a
          href="http://usaco.org/index.php?page=viewproblem2&cpid=712">USACO
          2017 February Bronze #2</a>.
        <ul>
          <li>O(N^3) algorithm: For every pair of letters, count the number of
            single letters in between them. The answer is the count divided by 2.</li>
        </ul>
      </li>
    </ul>
  </div>

  {{> contact}}
{{> close}}
