{{> open}}

  <div id="links">
    <ul>
      <li><a href="https://goo.gl/y14Gs6">Google Drive Folder</a></li>
        <ul>
          <li>Contains practice and learning resources:</li>
          <li>ACSL Category Description Booklet (to be uploaded)</li>
          <li>Past ACSL contest problems (to be uploaded)</li>
        </ul>
      <li><a href="https://goo.gl/GFjr8q">Contact Info Form</a></li>
        <ul>
          <li>Completion of this form will add you to the mailing list.</li>
        </ul>
    </ul>
  </div>

{{> close}}
